@import 'src/styles/theme.scss';
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.home-page {
  @extend %page;

  .my-test {
    .at-avatar__img {
      width: 50px;
    }
  }

  &-action-floor {
    margin: 20px 10px;
  }

}

.login-button {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
